.HomeButton {
    color: var(--main-color);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 300;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.HomeButton:hover {
    border-radius: 15px;
    transition: all 0.5s;
    background-color: var(--secondary-background);
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.HomeButton:active {
    background-color: var(--main-background);
    opacity: 0.6;
    animation: popup 0.5s forwards;
    -webkit-animation: popup 0.5s forwards;
}

@keyframes popup {
    0% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
    }
    25% {
        transform: translateX(5%);
        -webkit-transform: translateX(5%);
        -moz-transform: translateX(5%);
        -ms-transform: translateX(5%);
        -o-transform: translateX(5%);
    }
    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
    }
}