.Input{
   width: 100%;
    padding: 15px 10px;
    font-size: smaller;
    color: var(--main-color);
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: capitalize;

}
.halfBorder{
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}
.InputContainer{
    height: 65px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    background-color: var(--tertiary-background);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.InputContainer:focus-within{
    border: 1px solid var(--main-color);
}
.InputContainer svg{
    color: var(--main-color);
}
.lowpadding{
    height: fit-content;
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Input:-webkit-autofill,
.Input:-webkit-autofill:hover, 
.Input:-webkit-autofill:focus{
    border: none;
  -webkit-text-fill-color: var(--main-color);
  box-shadow: 0 0 0px 1000px var(--main-background) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--tertiary-background) inset;
}
.Input[type=email] {
    text-transform: lowercase;
 }