.DatePickerContainer {
    width: 95%;
    margin: 0 auto;
}

.TitleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.opened {
    opacity: 1;
    max-height: 1000px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.closed {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@keyframes expand {
    from {
        max-height: 0;
        overflow-y: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    to{
        max-height: 1000px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
    }
}