.UserField{
    width: 100%;
    margin: 25px 0 !important;
}
.rotate {
    animation: startRotate 1s infinite linear;
    -webkit-animation: startRotate 1s infinite linear;
}
.invalid{
    color: red;
    opacity: 0.5;
}
.invalid:hover{
    cursor: not-allowed;
}
@keyframes startRotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
        -webkit-transform: rotate(-359deg);
        -moz-transform: rotate(-359deg);
        -ms-transform: rotate(-359deg);
        -o-transform: rotate(-359deg);
    }
}