
.route-enter{
    opacity: 0;
  }
  
  .route-enter-active{
    opacity: 1;
    transition: opacity 1000ms;
  }
  
  .route-enter-done{
    opacity: 1;
  }
  
  .route-exit{
    opacity: 1;
  }
  
  .route-exit-active{
    opacity: 0;
  }
  