.Todo{
    background-color: var(--main-background);
    color: var(--main-color);
    margin-left: 40vw;
    width: 60vw;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    height: 100%;
}
.closed{
    width: 100vw;
    margin-left: 0;
}
.TodoContainer{
    width: 90%;
    margin: 0 auto;
}
.AddTodoRow{
    width: fit-content;
    margin-left: 5%;
    margin-top: 25px;
    display: flex;
    align-items: center;   
    color: rgb(125, 125, 125);
}
.AddoTodoIcon{
    margin-right: 10px;
    color: var(--secondary-background);
}
.AddTodoRow:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.LoadingContainer{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.EmptyIcon{
    width: 35%;
    margin: 0 auto;
    display: block;
}
@media screen and (max-width : 768px){
    .Todo{
        width: 100vw;
        margin-left: 0;
    }
}