.TodoTopbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.TodoTopbar h4{
    text-transform: capitalize;
}
.EditIcon:hover{
    cursor: pointer;
    color: #ccc;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}